.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source
*.deb
*.rpm
.venv/
# Flatpak-related
/flatpak-builder-tools
/.flatpak-builder
/repo
/flatpak-out
cargo-sources.json
