[Desktop Entry]
Name=Bitrate
Name[uk]=Бітрейт
Type=Application
Exec=cosmic-ext-applet-bitrate
Terminal=false
Categories=COSMIC;Iced;
Keywords=COSMIC
Keywords[uk]=Космік
Comment=A Bandwidth Monitor applet for the COSMIC™ desktop
Comment[uk]=Віджет моніторингу мережі COSMIC™
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=io.github.avomar.cosmic-ext-applet-bitrate
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
