[Desktop Entry]
Name=Bitrate
Type=Application
Exec=cosmic-ext-applet-bitrate %F
Terminal=false
Categories=COSMIC;Iced;
Keywords=COSMIC
Comment=A Bandwidth Monitor applet for the COSMIC™ desktop.
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=io.github.cosmic_utils.cosmic-ext-applet-bitrate
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
